/* 
    Created on : Aug 30, 2018, 7:02:40 PM
    Author     : root
*/

/* 
    GLOBAL SETTINGS
*/

* {
    -fx-primarytext: #C8D0DC; /*gray's steam'*/
    
    -fx-primary: #2A2E37; /*dark background*/
    -fx-secondary: #0BF9FE; /*blue's alienware*/
    -fx-wrong: #E452E4; /*pink's alienware*/
}

.root {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
    -fx-background-color: -fx-primary;

    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-text-fill: -fx-primarytext;
    -jfx-unfocus-color: -fx-primarytext;
    -jfx-focus-color: -fx-secondary;
}

/*Login Button specific*/
.wrong-credentials {
    -jfx-unfocus-color: -fx-wrong;
    -jfx-focus-color: -fx-wrong;
}

/*
    MAIN SCREEN
*/

/*TabPane*/
.tab {
    -fx-background-color: -fx-primary;
    
    -fx-pref-width: 185;
    -fx-pref-hight: 50;
}

.tab-header-background {
    -fx-background-color: -fx-primary;
}

.tab-selected-line {
    -fx-border-color: -fx-secondary;
}

.combo-box:focus {
    -jfx-focus-color: -fx-secondary;
}

.combo-box > .cell {
     -fx-text-fill: -fx-primarytext;
}

/*
change defalt color of rippler-fill from yellow
https://github.com/jfoenixadmin/JFoenix/blob/cf28a9ff3a36ffeb36897e69e5ef907a7a10e43d/jfoenix/src/main/resources/css/controls/jfx-tab-pane.css
*/
.jfx-tab-pane .headers-region > .tab > .jfx-rippler {
    -jfx-rippler-fill: -fx-secondary;
}

/*Menubar*/
.menu-bar {
    -fx-base: -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu {
    -fx-background-color: derive(-fx-primary, 0.1); /*10% lighter*/
}

/*Hamburger*/
.jfx-hamburger-icon {
    -fx-spacing: 10;
}

.jfx-hamburger-icon StackPane{ /*inside the StackPane*/
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px; /*border*/
}


/*Toolbar*/
.toolbar-buttons {
    -fx-background-color: derive(-fx-primary, 0.2); /*20% lighter*/
    -fx-border-color: derive(-fx-primary, 0.2); /*20% lighter*/
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

.toolbar-buttons:hover {
    -fx-background-color: -fx-secondary; 
    -fx-border-color: derive(-fx-primary, 0.2);/*20% lighter*/
    -fx-text-fill: -fx-primary;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}

/*Text*/
.main-text {
    -fx-fill: -fx-secondary;
    -fx-font-size: 11pt;
    -fx-text-alignment: center;
}

.subbmission-container {
    -fx-background-color: derive(-fx-primary, 0.05);
}

/*Dialog*/
.dialog-button {
    -fx-background-color: white;
    -fx-border-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.dialog-button:hover {
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-secondary;
    -fx-text-fill: white;
}

.jfx-layout-actions {
    -fx-hgap: 10;
}

/*Chart*/
.data0.chart-pie {
    -fx-pie-color: #00BECC;
    -fx-border-color: -fx-primary;
}

.data1.chart-pie {
    -fx-pie-color: #9A76BE;
    -fx-border-color: -fx-primary;
}

.data2.chart-pie {
    -fx-pie-color: #FFB400;
    -fx-border-color: -fx-primary;
}

.data3.chart-pie {
    -fx-pie-color: #f1f2f6;
    -fx-border-color: -fx-primary;
}

.chart-pie-label {
    -fx-fill: -fx-secondary;
}

/*About*/
.about-buttons {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 12pt;
    -fx-background-color: -fx-primary;

    -fx-border-color: -fx-secondary;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.about-buttons:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}