
.mainFxmlClass {
}

.setup-button {
    -fx-background-color: #45aaf2;
    -fx-text-fill: WHITE;
}

.setup-button:hover {
    -fx-background-color: #2d98da;
}

.menulist-button {
    -fx-background-color: #ffdd59;
}

.menulist-button:hover {
    -fx-background-color: #ffd32a;
}
